@tailwind base;
@tailwind components;
@tailwind utilities;

.home-page{
    background-image: url('/homeimage.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bars{
    position: static;
    display: flex;
    flex-direction: column;
    margin-left: 0;    
}